.li {
  font-size: medium;
  color: aqua;
  line-height: 1cm;
  margin: 0;
}
.header {
  font-size: larger;
  color: greenyellow;
  font-family: cursive;
  line-height: 1cm;
}
#title {
  color: blueviolet;
  font-size: larger;
}
#backtotop {
  color: yellow;
  text-decoration: underline;
}
.trying {
  color: yellow;
}
.contact {
  
  background-color: #282c34;
  
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 1cm;
}
.img-fluid {
  max-width: 50%;
  height: auto;
  align-items: block;
}
.btn-primary {
  margin-top: 20px;
  justify-content: center;
}
.box {
  background-color: lightgrey;
  border: 15px solid yellow;
  padding: 20px;
  margin: 20px;
  align-items: flex-end;
  width: fit-content;
  height: 300px;
}

.picture {
  margin: 1cm;
}
.picture2 {
  object-fit: cover;
  margin: 1cm;
}
#catpicture{
  object-fit: cover;
}